.tm{
    font-size: 12px;
    color: #21eb61;
  }
  .tm2{
    font-size: 12px;
    color: #9fd923;
  }
  .tm3{
    font-size: 12px;
    color: #edea1f;
  }
  .tm4{
    font-size: 12px;
    color: #e38622;
  }
  .tm5{
    font-size: 12px;
    color: #eb2323;
  }